@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(variaveis.$corDeFundo, 0.1);


    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease;

        .header {
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
        }
    }

    &__logo {
        max-width: 140px;
        width: 100%;
        margin: 5px;
    }

    &__links {
        list-style: none;
        display: flex;
        

        &__item {
            display: flex;
            margin: 5px;
            transition: opacity .5s ease;
        }
    }

    .button {
        margin-top: 20px;
        height: 50px;

        @media (max-width: 768px) {

            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}