// src/styles/main.scss

@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'header';
@use 'footer';
@use 'sobre';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
    height: 100%;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoSecundario;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.info-text {
    @include text;
    color: variaveis.$corTextoSecundario;
    text-decoration: none;
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 14px;
    border: 1px solid variaveis.$corDeFundoBotaoPrimario;
    text-decoration: none;

    @media (max-width: 768px) {
        padding: 0;
        max-width: 150px;
        text-align: center;
    }

    &:hover {
        background-color: lighten(variaveis.$corDeFundoBotaoPrimario, 3%);
    }

    &--secondary {
        background-color: variaveis.$corDeFundoBotaoSecundario;
        border-color: variaveis.$corDeFundoBotaoSecundario;

        &:hover {
            background-color: lighten(variaveis.$corDeFundoBotaoSecundario, 3%);
        }
    }

    &--dark {
        background-color: rgba(variaveis.$corDefundoBotaoDark, 0.8);
        border-color: variaveis.$corTextoSecundario;

        &:hover {
            background-color: rgba(variaveis.$corTextoSecundario, 0.8);
            color: variaveis.$corDeFundo;
        }
    }
}

.titulo_principal {
    font-size: 55px;
    padding-bottom: 24px;
    color: variaveis.$corTextoSecundario;

    @media (max-width: 768px) {
        font-size: 28px;
    }
}
